@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
}

html{
	font-size: 62.5%;

}
body{
	color: white;
	background-color: black;
	}
	body nav{
		font-family: 'Montserrat', sans-serif;
		font-size: 2rem;
			}
		body nav a{
			margin: 0px 110px;
			list-style: none;
			text-decoration: none;
					}
				nav ul{
				display: inline-block;
				}
					nav	ul li{
					list-style: none;
					display: inline-block;
					margin:10px 6px;
					font-family: 'Montserrat', sans-serif;
					color: white;
					font-size: 1.9rem;
							}
						
					nav ul li a:hover{
						color: darkred;
                		font-weight: 600;

					}

							h1{
								margin:50px 515px;
								padding:0 200px;
								font-family: 'Montserrat', sans-serif;
								font-size: 3.7rem;
							}

									h2 a{
										margin: 50px 515px;
										padding: 0 200px ;
										font-family: 'Montserrat', sans-serif;
										font-size: 2rem;
										text-decoration:none;
										list-style:none;
								}

footer a{
	font-family: 'Montserrat', sans-serif;
	font-size: 2rem;
	text-decoration: none;
	list-style: none;
		}

		footer p{
			font-family: 'Montserrat', sans-serif;
			font-size: 1.5rem;
			text-decoration: none;
			list-style: none;
			}
.footer{
	display: flex;
}
.pegassi{
	margin-left: 10px;
	width: 8vw;
}
/*-----------------------INDEX------------------------------*/

.text-titulo{
	text-align: center;
	font-size: 45px;
	margin-top: 250px;
}
.text-back{
	text-decoration:none;
	text-align: center;
	font-size: 32px; 
	background-color: grey;
	color: white;
	
}
.resaltar:hover {
	color: darkred;
	cursor: pointer;
	transform: scale(1.2);
}

/*footer*/
.text-center{
	border-top-color: white;
	border-top: solid;
	justify-content: space-between;
	display: flex;
	padding: 50px;
}
.redes-sociales{
	display: flex;
	justify-content:flex-end;
	padding: 0px 10px;
}
.copyright{
	display: flex;
	justify-content: flex-start;
}

/*---------- NUESTROS VEHICULOS ---------- */

.titulo-depor{
	text-align: center;
font-size: 30px;
background-color: grey;

}
.contenedor-a{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-evenly;
	font-size: 17px;
	text-align: center;
}
.contenedor-b{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 17px;
	text-align: center;
}

.texto-a{
	line-height: 1.4;
	text-align: center;
	width: 60%;
	height: auto;
	padding: 10px;
	margin: 10px;
}
.texto-espe{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.texto-ima{
	width: 40%;
	height: 40%;
	margin-left: 50px;
}
.texto-image{
	width: 40%;
	height: 40%;
	margin-right: 50px;
}
.resaltado{
	text-decoration:none;
	text-align: center;
	font-size: 32px;
	color: ghostwhite;
	background-color: darkred;

}
.suvs{
	text-decoration:none;
	text-align: center;
	font-size: 32px;
	color: ghostwhite;
	background-color: #00137FFF;
}

/*---------- ADQUIERA SU PEGASSI ---------- */
.header-adquiera{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 15px;
	margin-top:150px;
	margin-bottom: 10px;
}
.adquiera{
	color: white;
	text-align: center;
	font-size: 45px;
	margin-top: 85px;
}
.financiamiento{
	margin-top: 50px;
	margin-bottom: 50px;
}
.facilidad{
	margin-top: 20px;
	margin-bottom: 10px;
}

.text-main{
	border-top: dashed;
	border-top-color: white;
	border-top-width: 2px;
	display: flex;
	flex-direction: column;
}
.text-map{
	margin-left: 50px;
	margin-bottom: 20px;
}

.text-div{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

}
/*---------- TUATARA ---------- */
.imagination{
	text-align: center;
	font-size: 40px;
	padding: -15px;
	margin-top: 250px;
}
.tuatara{
	text-align: center;
	font-size: 20px;
	padding: -15px;
	margin-top: 65px;
}

/*---------- CONTACTO ---------- */
.forms{
	width: 80vw;	
}

.pregunta{
	display: flex;
	border-top-color: white;
	border-top: solid;
	justify-content:space-evenly;
	padding: 50px;
}
.text-pregunta{
	text-align: center;
	font-size: 45px;
	padding: -15px;
	margin-top: 250px;
}


/*---------- ANIMACIONES ---------- */
.banner {
    background:linear-gradient(to bottom,whitesmoke,grey,black);
    color: white;
    padding-bottom: auto;
}

.autos:hover {
    transform: scale(1.2);
}

.transform:hover{
    transform: translate(10px, -20px);
    cursor: pointer;
    transition: transform 1s;
}

#sticky{
	position:fixed;
	top: 0;
	width: 100%;
}


/*Index*/
@media (max-width: 440px){
	.text-titulo{
	font-size: 25px;
}
.footer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.text-back{
	text-decoration:none;
	text-align: center;
	font-size: 17px; 
	background-color: grey;
	color: white;	
}
}

@media (max-width: 440px){
.text-pregunta{
	font-size: 20px;
}
}

/*---------- SELECTORES---------- */

#selectores h1.one:first-letter{
    color: darkred;
    font-size: 5rem;
}

#selectores p.one:first-line{
    font-style: italic;
}

#selectores p.two:first-letter{
    color: blue;
    font-size: 3rem;
}

#selectores p.tres:first-letter{
    background-color: yellow;
    color: black;
    font-size: 3rem;
}

#selectores p.cuatro:first-letter{
    color: lightblue;
    font-size: 3rem;
}
