<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pegassi Argentina</title>
	<link rel="shortcout icon" href="../img/logo.png" width="26.75" height="33.75">
	<!-- mi css -->
	<link rel="stylesheet" href="../css/style.css">
</head>
	<body>
		<nav class="banner">
			<div class="text-pegassi">
			<h2 class="text-tittle">
			PEGASSI </h2>
			<a href="../index.html" class="logo-pegassi">
			 	<img src="../img/logo.png" width="107" height="135"  alt="Logo Pegassi Argentina">
			</a>
			</div>
				<ul class="text-titulo">
					<li>
						<a href="../views/nuestros-vehiculos.html">
							<span class="text-alert">
						Nuestros Vehículos</a>
							</span>
					</li>
					<li>
						<a href="../views/adquiera-su-pegassi.html">
							<span class="text-alert">
						Adquiera su Pegassi</a>
							</span>
					</li>
			  		<li>
			  			<a href="../views/servicios-al-cliente.html">
			  				<span class="text-alert">
			  			Servicios al Cliente</a>
			  				</span>
			  		</li>
			  		<li>
			  			<a href="../views/contacto.html">
			  				<span class="text-alert">
			  			Contacto</a>
			  				</span>
			  		</li>
				</ul>
		</nav>
		<header class="header-adquiera">
			<section>
				<h1>Adquiera su Pegassi
				</h1>
					<h2>Financiamiento y Leasing de Pegassi
						<p>Soluciones personalizadas para necesidades individuales
						</p>
					</h2>
						<h3>Pegassi Financial Services le ofrece exclusivamente a usted, cliente Pegassi, productos y servicios que atienden sus necesidades. Con un portafolio de financiación innovador, ponemos a su disposición una serie de servicios exclusivos, desarrollados especialmente para atenderlo con estilo, calidad, y la eficiencia que usted merece.
						</h3>
						<br>
							<img src="../img/adquirir.jpg" class="transform" alt="Financiamiento Pegassi">
						<br>
						<h3>Facilidad
						</h3>
							<p>Con opciones de productos adecuados, Pegassi Financial Services facilita la adquisición de su Pegassi, ofreciéndole a usted condiciones especiales.
							</p>
						<h3>Seguridad y Conveniencia
						</h3>
							<p>Con Pegassi Financial Services, toda transacción es realizada dentro de los estándares de calidad de Pegassi Group, en forma simple, rápida, y en un solo lugar: en su concesionario.
							</p>
							<br>
						<h3>Productos Financieros
						</h3>
							<p>Pegassi Financial Services se dedica totalmente a garantizarle disfrutar el placer de conducir su Pegassi sin preocupaciones. Es por eso que ofrecemos una variedad de productos innovadores y personalizados que encajan perfectamente en las exigencias del cliente Pegassi.
							Conozca mejor nuestros productos y elija el más adecuado a sus necesidades.
							</p>
							<br>
							<img src="../img/financial.jpg" alt="productos Financieros Pegassi">
							<br>
						<h3>Pegassi Credit
						</h3>
							<p>
							Ofertas de financiación hechas a medida.
							<br>
	                   		 Los créditos prendarios para Persona Física de Pegassi Financial Services se adaptan a sus necesidades . Podrá adaptar la cuota mensual a sus posibilidades eligiendo el monto a financiar y plazo que más le conviene.
	                    <li>
	                    	Financie hasta un 80% de su Pegassi;
	                    </li>
	                    <li>
	                    	Plazo de 12 a 60 meses;
	                    </li>
	                    <li>
	                    	Tasas de interés atractivas.
	                    </li>
							</p>
						<h3>Pegassi Leasing 
						<br>
							<img src="../img/leasing.jpg" alt="Pegassi Leasing">
						</h3>
							<p>Soluciones personalizadas de financiación.
							</p>	
							<p>
							El Leasing es una de las formas más convenientes de manejar un Pegassi.Es por ello que más de la mitad de nuestros clientes a nivel mundial prefieren esta opción. Usted tendrá todos los beneficios de Leasing, disponibles tanto para Persona Física como Persona Jurídica. Podrá adaptar el maxi-canon (adelanto), los cánones (cuotas mensuales), así como la opción de compra (valor residual) para personalizar el Leasing que mejor se adapte a sus necesidades o a las de su empresa.
							<br>
							Confirme con su asesor fiscal los beneficios impositivos de la financiación a través de Leasing.
						<li>
						Plazo de 36 a 48 meses.
						</li>
						<li>
						Valor Residual de hasta el 40%.
						</li>
						<li>
						No requiere cuota inicial.
						</li>	
						</p>
			</section>				
		</header>
		<main class="text-main">
			<h2>
					Para más informacion contactese con nosotros o visite nuestro Concesionario Oficial de Pegassi
				</h2>
						<iframe class="text-map autos" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1991.006662503648!2d-60.68035844434598!3d-32.938843312006014!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7aca969be32db%3A0xe8d9bd58c01729c8!2sAudi%20Marrocchi%20Exclusivos%20Agencia!5e0!3m2!1ses!2sar!4v1654102710602!5m2!1ses!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
					
		</main>
			<footer class="text-center">
				<div class="copyright">
					<p> 	
					2022 - Pegassi Argentina - Todos los derechos reservados.
					</p>
			      </div>
				<a href="../index.html" class="text-footer"> 
					<span>
					Volver al inicio
					<span/>
				</a>
				<div class="redes-sociales">
					<a href="https://www.facebook.com/Ivanx148/"target="_blank">
						<img src="../img/facebook.png" width="50" height="50" alt="Facebook Pegassi Argentina">
					</a>	
						<a href="https://www.instagram.com/ivansabino97/"target="_blank">
							<img src="../img/instagram.png"width="50" height="50" alt="Instagram Pegassi Argentina">
						</a>
							<a href="https://twitter.com/IvanSabino97"target="_blank">
								<img src="../img/twitter.png" width="50" height="50" alt="Twitter Pegassi Argentina">
							</a>
								<a href="https://www.youtube.com/channel/UC6ip98qcbtTUFduinYYTnIQ"target="_blank">
									<img src="../img/youtube.png" width="50" height="50" alt="YouTube Pegassi Argentina">
								</a>
									<a href="https://ar.linkedin.com"target="_blank">
										<img src="../img/in.png" width="50" height="50" alt="Linkedin Pegassi Argentina">
									</a>
				</div>
			</footer>
	</body>
</html>
	
