<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pegassi Argentina</title>
	<link rel="shortcout icon" href="../img/logo.png" width="26.75" height="33.75">
<!-- mi css -->
	<link rel="stylesheet" href="../css/style.css">
</head>
	<body>
		<nav class="banner">
			<div class="text-pegassi">
			<h2 class="text-tittle">
			PEGASSI </h2>
			<a href="../index.html" class="logo-pegassi">
			 	<img src="../img/logo.png" width="107" height="135"  alt="Logo Pegassi Argentina">
			</a>
			</div>
				<ul class="text-titulo">
					<li>
						<a href="../views/nuestros-vehiculos.html">
							<span class="text-alert">
						Nuestros Vehículos</a>
							</span>
					</li>
					<li>
						<a href="../views/adquiera-su-pegassi.html">
							<span class="text-alert">
						Adquiera su Pegassi</a>
							</span>
					</li>
			  		<li>
			  			<a href="../views/servicios-al-cliente.html">
			  				<span class="text-alert">
			  			Servicios al Cliente</a>
			  				</span>
			  		</li>
			  		<li>
			  			<a href="../views/contacto.html">
			  				<span class="text-alert">
			  			Contacto</a>
			  				</span>
			  		</li>
				</ul>
		</nav>
			<h1>Sus preguntas
			</h1>
				<h2>
					<p>¿Tiene alguna pregunta?
					<br>
					Por favor, háganosla llegar.
					</p>
				</h2>
		</header>
    		<main>
				<section>
					<form action="hola.php">
						<fieldset>
							<legend>Datos Personales</legend>
								<label for="nombre">Nombre:</label>
									<input type="text" id="nombre">
									<br>
								<label for="apellido">Apellido:</label>
									<input type="text" id="apellido">
									<br>
								<label for="email">Email:</label>
									<input type="text" id="email">
									<br>
								<label for="telefono">Teléfono:</label>
									<input type="text" id="telefono">
									<br>
								<label for="provincia">Provincia:</label>
										<select name="" id="provincia">
											<option value="Seleccione una provincia...">Seleccione una provincia...</option>
											<option value="Buenos Aires">Buenos Aires</option>
											<option value="CABA">CABA</option>
											<option value="Catamarca">Catamarca</option>
											<option value="Chaco">Chaco</option>
											<option value="Chubut">Chubut</option>
											<option value="Cordoba">Cordoba</option>
											<option value="Corrientes">Corrientes</option>
											<option value="Entre Rios">Entre Rios</option>
											<option value="Formosa">Formosa</option>
											<option value="Jujuy">Jujuy</option>
											<option value="La Pampa">La Pampa</option>
											<option value="La Rioja">La Rioja</option>
											<option value="Mendoza">Mendoza</option>
											<option value="Misiones">Misiones</option>
											<option value="Neuquen">Neuquen</option>
											<option value="Rio Negro">Rio Negro</option>
											<option value="Salta">Salta</option>
											<option value="San Juan">San Juan</option>
											<option value="San Luis">San Luis</option>
											<option value="Santa Cruz">Santa Cruz</option>
											<option value="Santa Fe">Santa Fe</option>
											<option value="Santiago del Estero">Santiago del Estero</option>
											<option value="Tierra del Fuego">Tierra del Fuego</option>
											<option value="Tucuman">Tucuman</option>
										</select>
										<br>
								<label for="localidad">Localidad</label>
									<input type="text" id="localidad">
						</fieldset>
						<fieldset>
							<legend>Mis peticiones y consultas</legend>
								<p>Tema</p>
										<select name="" id="opcion">
											<option value="Elija una opcion">Elija una opcion...</option>
											<option value="Reclamo">Reclamo</option>
											<option value="Automoviles:Quiero recibir mas informacion">Automoviles:Quiero recibir mas informacion</option>
											<option value="Recursos humanos">Recursos humanos</option>
											<option value="Otro">Otro</option>
										</select>
						</fieldset>
								<label for="mensaje">Deje su mensaje</label>
								<br>
									<textarea name="" id="mensaje" cols="30" rows="10"></textarea>
			   						 <br>
			    					<input type="reset" value="Cancelar">
			    					<input type="submit" value="Enviar">
					</form>
				</section>
			</main>
			<br>
				<footer class="text-center">
				<div class="copyright">
					<p> 	
					2022 - Pegassi Argentina - Todos los derechos reservados.
					</p>
			      </div>
				<a href="../index.html" class="text-footer"> 
					<span>
					Volver al inicio
					<span/>
				</a>
				<div class="redes-sociales">
					<a href="https://www.facebook.com/Ivanx148/"target="_blank">
						<img src="../img/facebook.png" width="50" height="50" alt="Facebook Pegassi Argentina">
					</a>	
						<a href="https://www.instagram.com/ivansabino97/"target="_blank">
							<img src="../img/instagram.png"width="50" height="50" alt="Instagram Pegassi Argentina">
						</a>
							<a href="https://twitter.com/IvanSabino97"target="_blank">
								<img src="../img/twitter.png" width="50" height="50" alt="Twitter Pegassi Argentina">
							</a>
								<a href="https://www.youtube.com/channel/UC6ip98qcbtTUFduinYYTnIQ"target="_blank">
									<img src="../img/youtube.png" width="50" height="50" alt="YouTube Pegassi Argentina">
								</a>
									<a href="https://ar.linkedin.com"target="_blank">
										<img src="../img/in.png" width="50" height="50" alt="Linkedin Pegassi Argentina">
									</a>
				</div>
			</footer>
	</body>
</html>
					