<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pegassi Argentina</title>
	<link rel="shortcout icon" href="../img/logo.png" width="26.75" height="33.75">
<!-- mi css -->
	<link rel="stylesheet" href="../css/style.css">
</head>
	<body>
		<nav class="banner">
			<div class="text-pegassi">
			<h2 class="text-tittle">
			PEGASSI </h2>
			<a href="../index.html" class="logo-pegassi">
			 	<img src="../img/logo.png" width="107" height="135"  alt="Logo Pegassi Argentina">
			</a>
			</div>
				<ul class="text-titulo">
					<li>
						<a href="../views/nuestros-vehiculos.html">
							<span class="text-alert">
						Nuestros Vehículos</a>
							</span>
					</li>
					<li>
						<a href="../views/adquiera-su-pegassi.html">
							<span class="text-alert">
						Adquiera su Pegassi</a>
							</span>
					</li>
			  		<li>
			  			<a href="../views/servicios-al-cliente.html">
			  				<span class="text-alert">
			  			Servicios al Cliente</a>
			  				</span>
			  		</li>
			  		<li>
			  			<a href="../views/contacto.html">
			  				<span class="text-alert">
			  			Contacto</a>
			  				</span>
			  		</li>
				</ul>
		</nav>
		<header>
			<section>
				<h1 class="section-h1">Servicios al Cliente
				</h1>
	          		<div class="text-servi">
	          		<h2>Descubra los servicios exclusivos para clientes y disfrutá de la tranquilidad, el respaldo y la confianza de contar con los mejores profesionales y la mejor atención		
	          		</h2>
	          			<img src="../img/garantia.png" class="autos" width="742" height="300" alt="garantia Pegassi">
	          		</div>
		          					
		          					<h4 class="section-h4">Conocé las soluciones que tenemos para ofrecerte
										</h4>
										<div class="text-div">
											<article class="text-art">
											<h3>Service Programado
											</h3>
												<img src="../img/service.png" class="autos" width="742" height="300" alt="Service Pegassi">
												
												<p class="text-pa">Descubrí la nueva herramienta de consulta de precios sugeridos para el mantenimiento óptimo de tu Pegassi
												</p>
											</article>
											<article class="text-art">
											<h3>ServicePlus
											</h3>
												<img src="../img/plus.png" class="autos" width="742" height="300" alt="ServicePlus Pegassi">
												<p class="text-pa">El programa de mantenimiento para automóviles Pegassi que ofrece toda la Red de Concesionarios Oficiales.
												</p>
											</article>
										</div>
											<div class="text-div">
											<article class="text-art">
											<h3>Garantia Extendida
											</h3>
											
												<img src="../img/extendida.png" class="autos" width="742" height="300"  alt="garantia Pegassi">
													
														<p class="text-pa">Descubrí la garantía de fábrica que trae tu Pegassi 0 km.
														</p>
													</article>
								  		     </h3>
								  		     <article class="text-art">	
								  			<h3>Paint Care
								  				</h3>
	                                            <img src="../img/paint.png" class="autos" width="742" height="300" alt="Paint Care Pegassi">
								  					
								  						<p class="text-pa">Técnicos calificados y la mejor tecnología para que tu Pegassi se vea como nuevo.
								  						</p>
								  			</article>
								  					
				  						</div>			
		  	</section>		
		</header>		
			<footer class="text-center">
				<div class="copyright">
					<p> 	
					2022 - Pegassi Argentina - Todos los derechos reservados.
					</p>
			      </div>
				<a href="../index.html" class="text-footer"> 
					<span>
					Volver al inicio
					<span/>
				</a>
				<div class="redes-sociales">
					<a href="https://www.facebook.com/Ivanx148/"target="_blank">
						<img src="../img/facebook.png" width="50" height="50" alt="Facebook Pegassi Argentina">
					</a>	
						<a href="https://www.instagram.com/ivansabino97/"target="_blank">
							<img src="../img/instagram.png"width="50" height="50" alt="Instagram Pegassi Argentina">
						</a>
							<a href="https://twitter.com/IvanSabino97"target="_blank">
								<img src="../img/twitter.png" width="50" height="50" alt="Twitter Pegassi Argentina">
							</a>
								<a href="https://www.youtube.com/channel/UC6ip98qcbtTUFduinYYTnIQ"target="_blank">
									<img src="../img/youtube.png" width="50" height="50" alt="YouTube Pegassi Argentina">
								</a>
									<a href="https://ar.linkedin.com"target="_blank">
										<img src="../img/in.png" width="50" height="50" alt="Linkedin Pegassi Argentina">
									</a>
				</div>
			</footer>
	</body>
</html>
															
	
