<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pegassi Argentina</title>
	<link rel="shortcout icon" href="../img/logo.png" width="26.75" height="33.75">
<!-- mi css -->
	<link rel="stylesheet" href="../css/style.css">
</head>
	<body>
		<nav class="banner">
			<div class="text-pegassi">
			<h2 class="text-tittle">
			PEGASSI </h2>
			<a href="../index.html" class="logo-pegassi">
			 	<img src="../img/logo.png" width="107" height="135"  alt="Logo Pegassi Argentina">
			</a>
			</div>
				<ul class="text-titulo">
					<li>
						<a href="../views/nuestros-vehiculos.html">
							<span class="text-alert">
						Nuestros Vehículos</a>
							</span>
					</li>
					<li>
						<a href="../views/adquiera-su-pegassi.html">
							<span class="text-alert">
						Adquiera su Pegassi</a>
							</span>
					</li>
			  		<li>
			  			<a href="../views/servicios-al-cliente.html">
			  				<span class="text-alert">
			  			Servicios al Cliente</a>
			  				</span>
			  		</li>
			  		<li>
			  			<a href="../views/contacto.html">
			  				<span class="text-alert">
			  			Contacto</a>
			  				</span>
			  		</li>
				</ul>
		</nav>
 		<header>
			<section>
				<h1>Beyond Imagination
				</h1>
					<h2>
						<p>El nuevo Pegassi Tuatara provoca. Como el primero de su tipo, el Tuatara representa más que nunca un personaje independiente y seguro de sí mismo.
						</p>
					</h2>
							<div class="container">
								<ul class="slider">
									<li id="slide1">
										<img src="../img/tuatara2.jpg" width="424" height="283" alt="Pegassi Tuatara"> 
											<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quibusdam debitis minus iste consequuntur ab, rem laudantium perferendis, voluptatum laboriosam omnis porro harum nobis quaerat magnam reiciendis commodi consequatur fuga?
											</p>
									</li>
									<li id="slide2">
										<img src="../img/tuatara3.jpg" width="424" height="283" alt="Pegassi Tuatara">
											<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quibusdam debitis minus iste consequuntur ab, rem laudantium perferendis, voluptatum laboriosam omnis porro harum nobis quaerat magnam reiciendis commodi consequatur fuga?
											</p>
		    						</li>
									<li id="slide3">
										<img src="../img/tuatara4.jpg" width="424"	height="283" alt="Pegassi Tuatara">
											<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quibusdam debitis minus iste consequuntur ab, rem laudantium perferendis, voluptatum laboriosam omnis porro harum nobis quaerat magnam reiciendis commodi consequatur fuga?
											</p>
									</li>	
									<li id="slide4">
										<img src="../img/tuatara5.jpg" width="424"	height="283" alt="Pegassi Tuatara">
											<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quibusdam debitis minus iste consequuntur ab, rem laudantium perferendis, voluptatum laboriosam omnis porro harum nobis quaerat magnam reiciendis commodi consequatur fuga?
											</p>
									</li>
									<li id="slide5">
										<img src="../img/tuatara6.jpg" width="424"	height="283" alt="Pegassi Tuatara">
											<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus quibusdam debitis minus iste consequuntur ab, rem laudantium perferendis, voluptatum laboriosam omnis porro harum nobis quaerat magnam reiciendis commodi consequatur fuga?
											</p>
									</li>		
								</ul>
		 						<ul class="menu">
	    							<li>
	      								<a href="#slide1"></a>
	    							</li>
	    							<li>
	     								 <a href="#slide2"></a>
	    							</li>
	     							<li>
	     		 						<a href="#slide3"></a>
	    							</li>
	    							<li>
	     								 <a href="#slide4"></a>
	    							</li>
	    							<li>
	     		 						<a href="#slide5"></a>
	    							</li>
	 	 						</ul>
	    					</div>
	    						<h3>Especificaciones Técnicas
	    						</h3>
	    							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis amet necessitatibus molestias quaerat, sit? Consectetur possimus odio id tenetur eos, sed a quisquam ea nihil ut, voluptatibus deleniti iure cum!
	    							</p>
			</section>
		</header>
			<footer class="text-center">
				<div class="copyright">
					<p> 	
					2022 - Pegassi Argentina - Todos los derechos reservados.
					</p>
			      </div>
				<a href="../index.html" class="text-footer"> 
					<span>
					Volver al inicio
					<span/>
				</a>
				<div class="redes-sociales">
					<a href="https://www.facebook.com/Ivanx148/"target="_blank">
						<img src="../img/facebook.png" width="50" height="50" alt="Facebook Pegassi Argentina">
					</a>	
						<a href="https://www.instagram.com/ivansabino97/"target="_blank">
							<img src="../img/instagram.png"width="50" height="50" alt="Instagram Pegassi Argentina">
						</a>
							<a href="https://twitter.com/IvanSabino97"target="_blank">
								<img src="../img/twitter.png" width="50" height="50" alt="Twitter Pegassi Argentina">
							</a>
								<a href="https://www.youtube.com/channel/UC6ip98qcbtTUFduinYYTnIQ"target="_blank">
									<img src="../img/youtube.png" width="50" height="50" alt="YouTube Pegassi Argentina">
								</a>
									<a href="https://ar.linkedin.com"target="_blank">
										<img src="../img/in.png" width="50" height="50" alt="Linkedin Pegassi Argentina">
									</a>
				</div>
			</footer>
	</body>
</html>
	